
html {
	font-family: ubuntu, sans-serif;
}

table {
	border: 1px solid black;
	text-align:center;
    height:350px;
	width:300px;
}

thead th {
	font-size:28px;
	background-color:#7fb9c2;
	padding-bottom: .5em;
	padding-top: .5em;
	border: 1px solid black;
}

thead td {
	background-color:#628ca6;
	color:white;
	padding-bottom: .5em;
	padding-top: .5em;
	font-weight: bold;
	border: 1px solid black;
}

tbody th{
	background-color:#e7ffed;
	border: 1px solid black;

}

tfoot {
	background-color:#7fb9c2;
	font-size:12px;
	padding-bottom: .5em;
	padding-top: .5em;
	border: 1px solid black;
}
.colored {
	background-color:#628ca6;
	color:white;
}