
html {
	font-family: ubuntu, sans-serif;
}

table {
	border: 1px solid black;
	text-align:center;
    box-shadow: 3px 3px 6px #347180;
    border-collapse: collapse;
   	height:350px;
	width:300px;
}
table, tr, td, th {
    border: 1px solid;
    border-color: gray;
    padding: 5px;
}


thead th {
	font-size:28px;
	background-color:#7fb9c2;
	padding-bottom: .5em;
	padding-top: .5em;
	border: 1px solid black;
}

thead td {
	background-color:#628ca6;
	color:white;
	padding-bottom: .5em;
	padding-top: .5em;
	font-weight: bold;
	border: 1px solid black;
}

tbody, th{
	background-color:#e7ffed;
	border: 1px solid black;

}

tfoot {
	background-color:#7fb9c2;
	font-size:12px;
	padding-bottom: .5em;
	padding-top: .5em;
	border: 1px solid black;
}
.colored {
	background-color:#628ca6;
	color:white;
}